/* Import de fontes do Google */
@import url("https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,300;7..72,400;7..72,500;7..72,600;7..72,700;7..72,800&display=swap");

/* Váriaveis globais */
:root {
  --green: #699651;
  --off-white: #ebebeb;
  --white: #fff;
  --black: #000;
  --grey: #575757;
  --gradient-white: linear-gradient(
    to bottom,
    #ffffff,
    #fbfbfb,
    #f7f7f7,
    #f3f3f3,
    #efefef
  );
  --ligth-grey: #d3d3d3;
}
/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

/* elementos padrão */
body,
html {
  width: 100%;
  min-height: 100vh;
  font-family: "Literata", "Verdana", sans-serif;
  background-image: url("/assets/img/background.png");
  background-size: cover;
  background-position: center;
}

h2 {
  margin: auto;
}

/* Estilos para o cabeçalho */
.header {
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-weight: 500;
}

/* Logotipo */
.logo {
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: auto;
}

.logo img {
  width: auto;
}

/* menu de navegação */
.navbar a {
  color: var(--grey);
  font-size: 1.1rem;
  margin-left: 2.5rem;
}

/* Estilos para os botões */
#btn-github,
#btn-downloadCV {
  background-color: var(--green);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

/* Estilos para o conteúdo dentro do container */
.conteudo {
  text-align: center;
  min-height: calc(
    100vh - 80px
  ); /* 100vh da tela menos a altura do cabeçalho */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  color: var(--grey);
}

#foto {
  margin: auto;
}

/* Estilos para o container de ícones */
.container-icons {
  width: 100%;
  padding: 1.3rem 5%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  cursor: pointer;
}

/* Estilos para os ícones */
.icon {
  margin: 0 10px;
  width: 1.5rem;
}

.container-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

/* Conhecimentos */
.skills {
  display: flex;
  flex-wrap: wrap;
}

.section-skills,
.container-projects {
  display: flex;
  flex-wrap: wrap;
}

.container-linguagens,
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  flex-grow: 1;
  text-align: center;
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  background: var(--gradient-white);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.container-linguagens i[class^="bx"] {
  font-size: 7em;
  margin-bottom: 1rem;
}
.container {
  width: 80%;
  background: var(--gradient-white);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.descricao {
  text-align: start;
  padding: 20px;
}

/* Breakpoints */
@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
  .container-icons {
    margin-top: auto;
  }
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    height: 80px;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }

  .navbar a {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 1.5rem 0;
    text-align: center;
  }
  #btn-github {
    padding: 5px;
  }
}
